/*************************************
general
**************************************/
a{
    text-decoration: none; 
    text-align: center; 
} 

h3{ 
    margin: 0 0 1em 0;  
    text-align: center;
    text-size: 1.25em;
    font-family: 'open josefin slab', serif;  
    font-weight:  normal; 
} 

 .smooth{
      
   } 
/*************************
header
**************************/ 
header{
    float: left; 
    margin:0 0 30px 0; 
    padding: 5px 0 0 0; 
    width: 100%;  
} 
body{
    font-family: 'open josefin slab', serif; 
    background-image: url("http://stylestodo.com/wp-content/uploads/2015/07/modern-art-paintings-04.jpg"); 
    background-repeat:  inherit; 
} 

#wrapper{
    max-width: 940px; 
    margin: 0 auto; 
    padding: 05%; 
} 

img{
    max-width: 100%; 
} 
#logo{
    text-align: center;
    margin: 0; 
    font-weight: bolder; 
} 

h1{
    font-family: 'Josefin Slab', serif; 
    margin: 15px 0; 
    font-size: 2.75em; 
    font-weight: bold;
}  

h2{
    font-size: 1.75em;
    margin: -5px 0 0; 
    font-weight: normal; 
} 

/*************************
Navigation
**************************/ 
nav{
    text-align: center; 
    padding: 10px 0; 
    margin: 20px 0 0; 
}

nav ul {
    list-style: none; 
    padding: 10px 0;
    margin: 0 10px; 
}

nav li{
    display: inline-block; 
    margin: 5px; 
}

nav a {
    font-weight: 800;
    padding: 15px 10px; 
} 
/*************************
Footer
**************************/
footer{
    font-size: 1.25em; 
    font-weight:  bold; 
    text-align: center;
    padding-top: 5px; 
    color: black; 
    clear: both;  
}

.social-media-icon{
    width: 50px; 
    height: 50px;
    margin: 0 25px;
}
/*************************
Page Portfolio
**************************/
#gallery{
    margin: 0; 
    padding: 0; 
    color: #A36DD6; 
    max-height: 120px;
    max-width: 900px; 
} 

#gallery li {
    float: left; 
    width: 45%; 
    margin: 2.5%;
    background-color: #3B3D4A
}

#gallery li a p {
    margin: 0; 
    padding: 5%;
    font-size: 1em;
    color: cornsilk; 
}
#page1 {
   max-height: 2000px; 
   alignment-adjust: middle;
   padding-bottom: 500px;
   padding-left: 500px;
}
/***************************************
colors
***************************************/ 
body{ 
    font-family: 'Oswald', sans-serif; 
} 

a{
    color: black; 
} 

nav,a,nav, a:visited {
    color: black; 
}
nav , a .selected nav, a:hover{ 
    color: #A36DD6;  
} 
/*************************
about me page
**************************/
.profile-photo{
    display: block; 
    max-width: 230px; 
    border-radius: 15%;  
    margin: auto; 
}
#about .smooth{
    text-align: center;
    font-size: 1.25em;
    font-weight:  bolder;
}
.section{ 
    text-align: center;
    padding-bottom: 30px;
    font-family: 'Denk One', sans-serif;
    font-size: 2.25em; 
    padding-top: 30px;
}
#page2{
    max-height: 1000px;
    padding-bottom: 300px; max-width: 500px;
} 
/*************************
Contact page
**************************/
.contact-info li .mail a{
  background-image: url("../img/email-icon.png"); 
}

.contact-info li .instagram a{
  background-image: url("../img/instagram.png"); 
}

.contact-info, a {
    display: block; 
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px;  
} 
#secondary{
    display: block; 
    min-height: 20px;
    text-size: 1.25em;
    text-align: center;
    font-family: 'Denk One', sans-serif; 
} 

#contact{
    text-align: center;
    font-size: 1.25em;
    font-weight:  bolder;
}

#page3{
 max-height: 1000px; 
 padding-top: 500px;
}
/*************************
Media Queries
**************************/
@media screen and (min-width: 480px) {
    #primary{
        width: 50%;
        float: left; 
    }
    #secondary{
        width: 40%;
        float: right; 
    }
    #gallery li{
        width: 28.3333%;
        
    }
    #gallery li:nth-child(4n){
        clear: left; 
    }
    .profile-photo{
        float: left; 
        margin: 0 5% 80px 0;
    }
}

@media screen and (min-width 660px{
    nav, a{
        background: none;
        float: right; 
        font-size: 1.125em; 
        margin-right: 5%;
        text-align: right; 
        width: 45%; 
   }
   #logo{
       float: left;
       margin-left: 5%;
       text-align: left;
       width: 45%; 
   } 
